doctype
html
  script.
    var client = '#{client.nickname}';
    console.log(client);
  include ./head
  
  body.bg-white-shade

    .main-box

      h2 #{client.nickname}
      if client.online == "true"
        i.icon.green(class="#{client.os}")
      else
        i.icon(class="#{client.os}")
      form#command-form.align-center
        input#command.inline-block(type='text' placeholder='Run') 
      .spacer-25
      .align-center
        button#lock.inline-block.margin-5.bg-white Lock
        button#panic.inline-block.margin-5.bg-white.red Panic
        button#horn.inline-block.margin-5.bg-white Horn
        button#gps.inline-block.margin-5.bg-white GPS
        button#keyboard.inline-block.margin-5.bg-white Keyboard

        #location.location.bg-white.z-index-5
          #close.close.bg-white-shade X
          #map
        include ./keyboard
      .spacer-25
      .volume.align-center
        span.tooltip.inline-block.align-center
          | Volume
          #volume
            | 50
        div#slider.slider.bg-white-pure
      .spacer



  include ./scripts

