meta(name='viewport' content='width=device-width, initial-scale=1')
script(src='//code.jquery.com/jquery-2.0.3.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/main.js')
link(href='/css/main.css' rel='stylesheet')
