doctype html
html
  head
    title #{config.name}
    include ./head

  body
    .wrapper
      .header
        .logo #{config.name}
      br
      .content
        .box
          .button.green test
          .item Test
            .button ok

          .item Test
            .button ok

          .item Test
            .button ok

          .item Test
            .button ok

          .item Test
            .button ok

          .item Test
            .button ok

          .item Test
            .button ok

          .item Test
            .button ok

          .item Test
            .button ok

          .item Test
            .button ok
