#keyboard-box.location.z-index-5.align-center
  #close.close.bg-white-shade X
  .box-33.bg-white-pure
    br
    h3 Left
    | Color: 
    select#color-left(name="color") 
      option(value="red") red 
      option(value="sky") sky    
      option(value="off") off
      option(value="orange") orange
      option(value="yellow") yellow
      option(value="green") green
      option(value="blue") blue
      option(value="purple") purple
      option(value="white") white
    br
    br
    | Intensity 
    select#intensity-left
      option(value="high") high
      option(value="med") med
      option(value="low") low
      option(value="light") light
  .box-33.bg-white-pure
    br
    h3 Center
    | Color: 
    select#color-center(name="color") 
      option(value="green") green
      option(value="red") red
      option(value="off") off
      option(value="orange") orange
      option(value="yellow") yellow
      option(value="sky") sky
      option(value="blue") blue
      option(value="purple") purple
      option(value="white") white
    br
    br
    | Intensity 
    select#intensity-center
      option(value="high") high
      option(value="med") med
      option(value="low") low
      option(value="light") light
  .box-33.bg-white-pure
    br
    h3 Right
    | Color: 
    select#color-right(name="color") 
      option(value="sky") sky
      option(value="green") green
      option(value="off") off
      option(value="red") red 
      option(value="orange") orange
      option(value="yellow") yellow
      option(value="blue") blue
      option(value="purple") purple
      option(value="white") white
    br
    br
    | Intensity 
    select#intensity-right
      option(value="high") high
      option(value="med") med
      option(value="low") low
      option(value="light") light
    br
  .box-33.bg-white-pure
    br
    button#keyboard-set.bg-green.white Save
    br
