//color vars
transparent = rgba(0, 0, 0, 0)

black = rgba(0, 0, 0, 1)

white = rgba(250, 250, 250, 1)
white-pure = rgba(255, 255, 255, 1)
white-shade = rgba(235, 235, 235, 1)

light-grey = rgba(205, 205, 205, 1)
light-grey-shade = rgba(190, 190, 190, 1)
grey  = rgba(100, 100, 100, 1)
grey-shade = rgba(85, 85, 85, 1)
dark-grey = rgba(50, 50, 50, 1)
dark-grey-shade = rgba(35, 35, 35, 1)

blue = rgba(52, 152, 219, 1)
blue-shade = rgba(41, 128, 185, 1)

red = rgba(231, 76, 60, 1)
red-shade = rgba(192, 57, 43, 1)

green = rgba(101, 157, 50, 1)
green-shade = rgba(81, 137, 30, 1)

yellow = rgba(241, 196, 15, 1)
yellow-shade = rgba(243, 156, 18, 1)