@import 'colors'

// color classes
.black
  color black

.white
  color white
.white-pure
  color white-pure
.white-shade
  color white-shade

.light-grey
  color light-grey
.light-grey-shade
  color light-grey-shade
.grey
  color grey
.grey-shade
  color grey-shade
.dark-grey
  color dark-grey
.dark-grey-shade
  color dark-grey-shade

.blue
  color blue
.blue-shade
  color blue-shade

.red
  color red
.red-shade
  color red-shade

.green
  color green
.green-shade
  color green-shade

.yellow
  color yellow
.yellow-shade
  color yellow-shade

// background classes
.bg-black
  background black

.bg-white
  background white
.bg-white-pure
  background white-pure
.bg-white-shade
  background white-shade

.bg-light-grey
  background light-grey
.bg-light-grey-shade
  background light-grey-shade
.bg-grey
  background grey
.bg-grey-shade
  background grey-shade
.bg-dark-grey
  background dark-grey
.bg-dark-grey-shade
  background dark-grey-shade

.bg-blue
  background blue
.bg-blue-shade
  background blue-shade

.bg-red
  background red
.bg-red-shade
  background red-shade

.bg-green
  background green
.bg-green-shade
  background green-shade

.bg-yellow
  background yellow
.bg-yellow-shade
  background yellow-shade
