

/**, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
*/


html, body
  margin 0
  padding 0

body
  width 100%
  background #efefef
  font-family 'Open Sans', sans-serif

@import "./includes/resets"
@import "./includes/colors"
@import "./includes/border-box"
@import "./includes/buttons"

@import "./includes/header"
@import "./includes/box"

.wrapper
  width 100%

.content
  display flex
  width 80%
  margin 10%
  .box
    @extend .border-box
    display flex
    min-height 50px
    background white-shade
    padding 10px
    width 90%
    margin 5%
    justify-content center
