
html, body
  margin 0
  padding 0

body
  width 100%
  background #efefef
  font-family 'Open Sans', sans-serif

@import "./includes/resets"
@import "./includes/colors"
@import "./includes/dimentions"
@import "./includes/border-box"
@import "./includes/buttons"
@import "./includes/header"
@import "./includes/box"
@import "./includes/item"

.wrapper
  width 100%

.content
  display flex
  flex-wrap wrap
  justify-content space-around
  width 80%
  margin 10%
@media all and (max-width: phone-width)
  .content
    width 95%
    margin 2.5%
