.button
  @extend .border-box

  padding 10px
  outline none
  margin 10px
  border none
  background #cdcdcd
  &.green
    background green
    color #fff
  &.blue
    background blue
    color #fff
  &.red
    background red
    color #fff
